.vscode/
.ipynb_checkpoints/
misc/
notebooks/
*.ipynb
newLandingPage.html
subscriptionPage.html
shell.html
template_engine.js
twiiter_api_creds.txt
flavors/
pick-your-flavor.html
data/
landing_page.html